<% provide(:title, "Dean Chuang | Web Developer") %>

<div class="wrapper clearfix">
  <div class="col-1 homepage-content">
    <h2>About Dean</h2>
    <hr>
    <p>
      I'm a web developer with a knack for Full-stack development. My main goal is to create functional, beautiful, and elegant products.
    </p>
    <p>
      Originally coming from a Biological Sciences background, I later realized that programming is my true passion.  I then enrolled in the Thinkful Frontend Career Path with Pragmatic Studios as a supplement in order to learn the ins and outs of web development through industry experts. 
    </p>
    <p>
      With a solid foundation for front and back end development, I am currently working to advance my knowledge in React and Node/Express. 
    </p>
  </div>
  <div class="col-2 homepage-content">
    <h2>My Current Musings</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post %></h3>
      <p class="date"><%= time_formatter(post.created_at) %></p>
    <% end %>
  </div>
  <div class="col-3 homepage-content">
    <h2>My Recent Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= time_formatter(project.created_at) %></p>
    <% end %>
  </div>
</div>
