<% provide(:title, "Dean's Projects") %>

<h1 id="page-title">Recent Projects</h1>
<%= link_to "New Project", new_project_path %> <br/><br/>

<div id="posts-wrapper" class="small-wrapper">
  <% @projects.each do |project| %>
    <div class="post">
      <p class="date"><%= project.created_at.strftime('%A, %B %d')%></p>
      <h2><%= link_to project.title, project_path(project) %></h2> <br/>
      <hr>
    </div>
  <% end %>
</div>