/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 
@import "font-awesome.css";
@import 'clearfix';
@import 'colors';

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  background-color: $bg-color;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.small-wrapper {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, ul, li {
  font-family: 'Open Sans', sans-serif;
  color: $dark-color;
}

h1 {
  font-size: 2.5rem;
  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
  @media (max-width: 480px) {
    font-size: .9rem;
  }
}
 
p, ul {
  margin: 0 0 1.6em 0;
}

ul {
  list-style-position: inside;
}

.project-button {
  background: $blue;
  color: $cloud;
  text-decoration: none;
  padding: 1em 2em;
}

.button-wrapper {
  margin: 2em 0 1em 0;
  text-align: center;
}

.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 2px solid $border-color;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 3px solid $blue;
  width: 15em;
  margin: 2rem 0;
  @media (max-width: 1080px) {
    width: 5em;
  }
}

#main-navigation {
  padding: 2.5em 5%;
  border-bottom: 2px solid $border-color;
  .logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85em;
    letter-spacing: 3px;
    border: 3px solid $border-color;
    padding: 1rem;
    text-decoration: none;
    color: $dark-color;
    float: left;
    @media (max-width: 480px) {
      float: none;
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      text-align: center;
    }
  }
  nav {
    float: right;
    padding-top: .9rem;
    a {
      color: $dark-color;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1em;
    }
    @media (max-width: 480px) {
      float: none;
      text-align: center;
    }
  }
}

#page-title {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid $border-color;
  padding: 2em 0;
}

#main-footer {
  position: fixed;
  background-color: $bg-color;
  bottom: 0;
  width: 100%;
  padding: 2.5em 5%;
  border-top: 2px solid $border-color;
  @media (max-width: 780px) {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
    @media (max-width: 780px) {
      float: none;
      text-align: center;
    }
  }
  nav {
    float: right;
    i {
      color: $dark-color;
      margin-left: 1em;
      padding-top: .2em;
      &:hover {
        color: $blue;
      }
    }
    @media (max-width: 780px) {
      float: none;
      text-align: center;
      padding-top: 1em;
    }
  }
}

