// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'clearfix';
@import 'colors';

.col-1, .col-2, .col-3 {
  float: left;
  @media (max-width: 780px) {
    float: none;
  }
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
  @media (max-width: 780px) {
    width: 90%;
    margin: 0 auto;
  }
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
  @media (max-width: 780px) {
    width: 90%;
    margin: 0 auto;
  }
}


.homepage-content {
  margin-bottom: 7em;
  @media (max-width: 780px) {
    margin-bottom: 4em;
  }
  h2 {
    margin-top: 3rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    @media (max-width: 1080px) {
      font-size: .9rem;
    }
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: .5em;
    a {
      color: $dark-color;
      text-decoration: none;
    }
  }
  .date {
    color: $light-color;
    font-size: .8rem;
  }
}

.col-3.homepage-content {
  @media (max-width: 780px) {
    margin-bottom: 8em;
  }
}