<header id="main-navigation" class="clearfix">
  <%= link_to "Dean Chuang", root_path, class: "logo" %>
  <nav>
    <a href="#">Blog</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header>